

<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <link rel="stylesheet" href="/resources/demos/style.css">
        <?php
        $this->layout = 'main';
        ?>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Bootstrap Admin Theme</title>

        <!-- Bootstrap Core CSS -->
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="site-specifics.css" rel="stylesheet" type="text/css">


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


    </head>

    <body>



        <div id="wrapper">


            <!-- Page Content -->
            <div id="page-wrapper"> 
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="mp-h1">
                                Add the deformation's threshold 
                            </h1>
                            <form role="form">
                                <div class="form-group">


                                    <script>
                                        $(function () {
                                            var select = $("#minbeds");
                                            var slider = $("<div id='slider'></div>").insertAfter(select).slider({
                                                min: 1,
                                                max: 160,
                                                range: "min",
                                                value: select[ 0 ].selectedIndex + 1,
                                                slide: function (event, ui) {
                                                    select[ 0 ].selectedIndex = ui.value - 1;
                                                }
                                            });
                                            $("#minbeds").change(function () {
                                                slider.slider("value", this.selectedIndex + 1);
                                            });
                                        });
                                    </script>
                                    <label for="minbeds">Deformation Level</label>
                                    <select name="minbeds" id="minbeds">
                                        <?php
                                        for ($i = 0; $i < 160; $i++)
                                            echo "<option>" . $i . "</option>"
                                            ?>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Id Lora:</label>
                                    <input name="id" type="number" class="form-control" id="id">
                                    <label for="name">Trigger Name:</label>
                                    <input name="name" type="text" class="form-control" id="name">
                                    <label for="Comment">Comment:</label>
                                    <input name="comment" type="text" class="form-control" id="comment">
                                    
                                </div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </form>
                            
                            

                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

    </body>

</html>
